
@font-face
{
 font-family:CRYSISB;
 src: url(../FONTS/CRYSISB.ttf);

}
@font-face
{
 font-family:Akashi;
 src: url(../FONTS/Akashi.ttf);
}
@font-face
{
 font-family:Bradley Hand ITC;
 src: url(../FONTS/Bradley Hand ITC.ttf);
}
@font-face
{
 font-family:BankGothic Lt BT;
 src: url(../FONTS/BankGothic Lt BT.ttf);
}
@font-face
{
 font-family:FMBindumathi x;
 src: url(../FONTS/FMBindumathi x.ttf);
}

body{
		margin:10px;
		padding-right: 10px;
		background-color: #ffffcc;
	}



.container{
		
		height:auto;
		
		
	}


	.box{
	display:                 flex;
  	display:                 -webkit-flex; 
 	 flex-wrap:               wrap;
  	-webkit-flex-wrap:       wrap;         
  	justify-content:         center;
  	-webkit-justify-content: center;
	position:relative;
	height:80%;
	
	}
.slider{
	position:relative;
	
	width:400%;
	
	height:200%;
	
	animation-name:slide;
	
	animation-duration:11s;
	animation-timing-function: cubic-bezier(.21,.66,.23,.2);
	animation-iteration-count:infinite;
	}
/*.............header..........*/

.header
{
	width:1300px;
	height:100px;
}

.header h1
{
	color:black;
	float:left;
	text-shadow: 5px 2px 4px gray;
}

.header h3
{
	color:rgb(133,153,147);
	float:left;
	position:absolute;
	top:50px;
	font-family: Bradley Hand ITC;
}

.header .sublinks
{
	width:400px;
	height:90px;
	float:right;
	margin-top:10px;

}

.header .sublinks a
{
	color:#000;
	text-decoration:none;
	position:relative;
	top:25px;
	float:left;
	left:15px; 
}

.header .sublinks a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

.header .sublinks h4
{
	color:black;
	float:left;
	position:relative;
	top:8px;
	left:15px;
}

.header .sublinks  input
{
	position:relative;
	top:30px;
	left:19px;
	border-radius:10px;
}
/*............................header................*/
.detail{
	height:50px;
	font-family:"battlefieldv4";
	   font-size:24px;
	   text-align:center;
	}


/*.........................main menu....................*/

.nav{
	background-color:#FFF;
	top: 10px;
	height:40px;
	border-radius:10px;
	opacity:0.7;
	border-bottom:1px solid #FFF;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	padding-right: 10px;
	
	
}	
	.nav a:hover{
	color:#090;
	
	}
.nav ul{
		padding:10px;
		margin:10px;
		margin-top:30px;
		vertical-align:middle;
		list-style:none;
		margin-left: 250px;
	
	}
	.nav ul li{
	float:left;
	
}
.nav ul li a{
		margin-left:10px;
		color:#000;
		font-weight:600;;
		display:block;
		text-decoration:none;
		font-family:typodermic-eula-02-2014;
		font-size:23px;
		
		transition:0.17s;
	}	
	


.nav ul li a span{
		color:#F00;
	}

/*.an{
	background:#060;
	}
.an0{
	background:#FF9900;

	}
@keyframes slide{
	0%{left:0%;}
	30%{left:0%;}
	35%{left:-100%;}
	50%{left:-100%;}
	55%{left:-200%;}
	80%{left:-200%;}
	85%{left:-300%;}
	
	
	}
*/
	/*...........................boxs.................................*/

.content{
	position:relative;
	top:70px;
	height:80%;
	/*background:#036;*/
	}


.card{	
		position:relative;
		margin:30px;
		background:#F0F;
		height:163px;
		width:300px;
		float:left;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		transition:0.5s;
		color: yellow;
		font-size: 24px;
		border-radius: 10px;
	}

	.card:hover{
	
	transform:scale(1.2);
	cursor:pointer;
	
	}


	</*-----------------------temple-------------------*/
.re{
	
	background-image:url(../img/33.jpg);
	background-size:100% 100%;
	background-repeat: no-repeat;
	
	
	}
	.res{
	
	background-image:url(../img/a1.jpg);
	background-size:100% 100%;
	background-repeat: no-repeat;
	
	
	}
.see{
	
	background-image:url(../img/33.jpg);
	background-size:100% 100%;
	background-repeat: no-repeat;
	
	
	}
.perahera{
	
	background-image:url(../img/x2rect.jpg);
	background-size:100% 100%;
	background-repeat: no-repeat;
	
	
	}
.museum{
	
	background-image:url(../img/x6rect.jpg);
	background-size:100% 100%;
	background-repeat: no-repeat;
	
	}

.lake{
	
	background-image:url(../img/z80.jpg);
	background-size:100% 100%;
	background-repeat: no-repeat;
	
	}


	/*------------------------gallery------------------------*/
.cards{	
		position:relative;
		margin:30px;
		background:#F0F;
		height:200px;
		width:200px;
		float:left;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		transition:0.5s;
		color: yellow;
		font-size: 24px;
		border-radius: 10px;
	}

	.cards:hover{
	
	transform:scale(1.2);
	cursor:pointer;
	
	}

.aa{
	
		background-image:url(../img//g/aa.jpg);
		background-size:200px 200px;
		background-repeat: no-repeat;

	
	}
.ab{
	
	background-image:url(../img/g/ab.jpg);
	background-size:200px 200px;
	background-repeat: no-repeat;
	
	
	}
.ac{
	
	background-image:url(../img/g/ac.jpg);
	background-size:200px 200px;
	background-repeat: no-repeat;
	
	
	}
.ad{
	
	background-image:url(../img/g/ad.jpg);
	background-size:200px 200px;
	background-repeat: no-repeat;
	
	}

.ae{
	
	background-image:url(../img/g/ae.jpg);
	background-size:200px 200px;
	background-repeat: no-repeat;
	
	}
.af{
	
	background-image:url(../img/g/af.jpg);
	background-size:200px 200px;
	background-repeat: no-repeat;
	
	}
.ag{
	
	background-image:url(../img/g/ag.jpg);
	background-size:200px 200px;
	background-repeat: no-repeat;
h
	}
.ae{
	
	background-image:url(../img/g/ae.jpg);
	background-size:200px 200px;
	background-repeat: no-repeat;
	
	}
.ah{
	
	background-image:url(../img/g/ah.png);
	background-size:200px 200px;
	background-repeat: no-repeat;
	
	}
.ai{
	
	background-image:url(../img/g/ai.jpg);
	background-size:200px 200px;
	background-repeat: no-repeat;
	
	}
.aj{
	
	background-image:url(../img/g/aj.jpg);
	background-size:200px 200px;
	background-repeat: no-repeat;
	
	}
.ak{
	
	background-image:url(../img/g/ak.jpg);
	background-size:200px 200px;
	background-repeat: no-repeat;
	
	}
.al{
	
	background-image:url(../img/g/al.jpg);
	background-size:200px 200px;
	background-repeat: no-repeat;
	
	}
.am{
	
	background-image:url(../img/g/am.jpg);
	background-size:200px 200px;
	background-repeat: no-repeat;
	
	}
.an{
	
	background-image:url(../img/g/an.jpg);
	background-size:200px 200px;
	background-repeat: no-repeat;
	
	}
.ao{
	
	background-image:url(../img/g/ao.jpeg);
	background-size:200px 200px;
	background-repeat: no-repeat;
	
	}
										


